$gray-10: #f9f9fa;
$gray-20: #ededf0;
$gray-30: #d7d7db;
$gray-40: #b1b1b3;
$gray-50: #737373;
$gray-60: #4a4a4f;
$blue-60: #0060df;
$green-80: #006504;
$white: #fff;
$black: #000;
$light-red: #f5d8e1;
$neon-red: #ff0039;
$duck-egg-blue: #f2fcfd;
$charcoal-gray: #38383d;
$true-green: #12bc00;

$lightBlue: #f2fcfd;
$darkBlue: #073072;
$transparentBlue: rgba(69, 161, 255, 0.54);
$transparentWhite: rgba(255, 255, 255, 0.54);

$layerOne: 1;
$layerTwo: 2;
$layerThree: 3;
$layerProfileNav: 4;
$layerContactMe: 5;
$layerAboveNav: 6;
$layerUnderPopover: 7;
$layerPopover: 8;
$layerTopBar: 9;
$layerUserMenu: 10;
$layerModal: 11;

$shadowCard: 0 0.25em 0.25em 0 rgba(210, 210, 210, 0.5);
$focusOutlineShadow: 0 0 0 3px $transparentBlue;
$imageRadius: 0.25em;
$formElementRadius: 0.25em;
$keyRadius: 0.25em;
$cardRadius: 0.125em;
