$smallestWidth: 35e;
$mediumWidth: 57.5em;
$largeWidth: 74em;

$layerOne: 1;
$layerTwo: 2;
$layerThree: 3;
$layerProfileNav: 4;
$layerContactMe: 5;
$layerAboveNav: 6;
$layerUnderPopover: 7;
$layerPopover: 8;
$layerTopBar: 9;
$layerUserMenu: 10;
$layerModal: 11;

$imageRadius: 0.25em;
$formElementRadius: 0.25em;
$keyRadius: 0.25em;
$cardRadius: 0.125em;
